body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.group-main-container {
  display: flex;
  flex-direction: column;
}
.search-panel {
  width: 100%;
  height: 60px;
  background: rgba(0, 0, 0, 0.945);
  padding: 10px;
}
.search-box {
  background: orange;
}
.groups-main-explore {
  padding-top: 50px;
  height: 100vh;
  font-size: 30px;
  font-weight: bold;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.group-results-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background: rgb(221, 221, 221);
}
.group-card-main {
  width: 480px;
  height: 469px;
  background: rgb(250, 249, 249);
}
.group-card-main:hover {
  transition-duration: 0.5s;
  background: rgba(36, 36, 36, 0.123);
}
.group-icon-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 70px;
}
.group-card-item-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.group-card-photos-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
.group-photo {
  margin: 3px;
}
.group-icon {
  border-radius: 50%;
  margin-top: 10px;
}
.count-icon {
  font-size: 16px;
}
.count {
  padding-left: 7px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.spinner {
  height: 100vh;
  width: 100%;

  display: flex;
  flex-direction: row;

  align-items: center;
  justify-content: center;
}
.no-group-photos {
  margin-top: 120px;
  font-size: 18px;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.link {
  margin: 20px;
  color: black;
}

.photo-count-chart {
  height: 400px;
  width: 100%;
}
.pie-chart {
  width: 100%;
  height: 100%;
  margin-top: 40px;
}

.status {
  background: green;
}

.react-autosuggest__container {
  width: 70%;
  margin: 0 auto;
}

.react-autosuggest__input {
  width: 100%;

  height: 35px;
  padding: 7px 10px;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border: 1px solid #aaa;
  border-radius: 4px;
}

.react-autosuggest__input--focused {
  outline: none;
}

.react-autosuggest__input--open {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.react-autosuggest__suggestions-container {
  display: none;
}

.react-autosuggest__suggestions-container--open {
  display: block;
  position: absolute;
  top: 51px;
  width: 69%;
  height: 400px;
  border: 1px solid #aaa;
  background: rgba(247, 245, 245, 0.938);
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 12px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  z-index: 2;
  overflow-y: scroll;
}

.react-autosuggest__suggestions-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.react-autosuggest__suggestion {
  cursor: pointer;
  padding: 10px 20px;
}

.react-autosuggest__suggestion--highlighted {
  background-color: #ddd;
}
.main {
  columns: 250px;
  column-gap: 5px;
  background: rgb(190, 188, 188);
}
article {
  break-inside: avoid-column;
  margin-bottom: 1rem;
}
article {
  background: white;
}
article > img {
  width: 100%;
  margin-bottom: -20px;
}

.photo-details {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;
  padding: 4px;
}
.photo-details > h3 {
  font-size: 18px;
}
.photo-details > p {
  font-family: sans-serif;
}
.photo-details > h4 {
  font-size: 15px;
}
.photo-details > div > span {
  padding-right: 10px;
}
